<h1><%= @bathroom.name %> -  Cleanliness: <%= @bathroom.cleanliness %></h1>

<ul>
  <p>Location:</p>
  <% @bathroom.locations.each do |location| %>
  <li><%= link_to location.neighborhood, location %></li>
  <% end %>
</ul>

<ul>
  <p>Comments:</p>
  <% @bathroom.comments.each do |comment| %>
  <li>User: <%= link_to comment.user.username, comment.user %>: <%= link_to comment.content, comment %></li>
  <% end %>
</ul>

<%= link_to new_comment_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Comment
<% end %>

<%= link_to 'Delete Bathroom', bathroom_path(@bathroom), method: :delete, class: 'btn btn-danger'  %>
<%= link_to 'Edit Bathroom', edit_bathroom_path(@bathroom), class: 'btn btn-warning'  %><br>
