<h1><%= @user.username %></h1>

Bathroom's Reviewed:
<ul>
  <% @user.bathrooms.each do |bathroom| %>
  <li><%= link_to bathroom.name, bathroom %></li>
  <% end %>
</ul>


Comments:
<ul>
  <% @user.comments.each do |comment| %>
  <li><%= link_to comment.content, comment %></li>
  <% end %>
</ul>

<td><%= link_to 'New Bathroom', new_bathroom_path, class: 'btn btn-primary btn-xs' %></td>
<td><%= link_to 'All Bathrooms', bathrooms_path, class: 'btn btn-primary btn-xs' %></td>
