<h1><%= @location.neighborhood %></h1>

<ul>
  <% @location.bathrooms.each do |bathroom| %>
  <li><%= link_to bathroom.name, bathroom %></li>
  <% end %> <br>

  <h3> Average Rating: <%= @location.average_rating %></h3>
</ul>

<%= link_to new_bathroom_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> Create Bathroom

  <%= link_to 'Delete Location', location_path(@location), method: :delete, class: 'btn btn-danger'  %>
  <%= link_to 'Edit Location', edit_location_path(@location), class: 'btn btn-warning'  %><br>
<% end %>
