<!DOCTYPE html>
<html>
  <head>
    <title>PublicPortaPotty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navigation' %>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-3">
          <h4>Find a Bathroom!</h4>
          <p><%= link_to 'Signup', signup_path %></p>
          <p><%= link_to 'Login', login_path %></p>
          <p><%= link_to 'Bathrooms', bathrooms_path %></p>
          <p><%= link_to 'View Locations', locations_path %></p>
        </div>
        <div class="col-xs-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
